@import '../app-variables';

.imgcontainer {
  text-align: center;
  .more {
    white-space: normal;
    word-wrap: break-word;
    text-align: center;
    font-size: 12em;
  }
}

.product-name {
  font-size: 15em;
  color: $secondary;
  white-space: normal;
  word-wrap: break-word;
  padding-bottom: 10;
}

.product-price {
  margin-top: 0.4em;
  text-align: left;
  font-size: 16em;
  color: $action-price-color;
  padding-bottom: 10;
}

.free-ship {
  font-size: 10em;
  padding-bottom: 10;
}

.rating {
  padding-bottom: 10;
}

.form {
  margin-left: 30;
  margin-right: 30;
  flex-grow: 2;
  vertical-align: middle;
}

.logo {
  margin-bottom: 12;
  height: 120;
  font-weight: bold;
  margin-top: 50;
}

.page {
  padding-top: 50;
  align-items: center;
  flex-direction: column;
}
