<ab-component></ab-component>
<FlexLayout>
  <StackLayout>
    <sb-component></sb-component>
  </StackLayout>
  <StackLayout class="list" *ngIf="products">
    <ListView [items]="products" class="list-group" (loadMoreItems)="loadItems()">
      <ng-template let-product="item" let-i="index" let-odd="odd" let-even="even">
        <GridLayout borderBottomWidth="1" class="product-base" rows="*, *, *" columns="*, *" (tap)="viewProduct(product.slug)">
          <StackLayout col="0" class="imgcontainer" width="40%">
            <Image [src]="product.product_url" stretch="aspectFit" height="120" class="m-r-20"></Image>
            <Label text="More Choices Avialable" class="more"></Label>
          </StackLayout>
          <StackLayout col="1" colSpan="2" width="90%">
            <Label [text]="product.name" class="product-name"></Label>
            <Label col="1" class="product-price">
              <FormattedString>
                <Span text="&#8377;"></Span>
                <Span [text]="product.price"></Span>
              </FormattedString>
            </Label>
            <Label text="30% Off First Item" horizontalAlignment="left" class="off"></Label>
            <Label class="free-ship m-b-5 m-t-5" borderTopWidth="1" borderBottomWidth="1">
              <FormattedString>
                <Span class="free" text="Free 1-2 day "></Span>
                <Span text="Shipping Over 699"></Span>
              </FormattedString>
            </Label>
          </StackLayout>
        </GridLayout>
      </ng-template>
    </ListView>
  </StackLayout>
</FlexLayout>
<ActivityIndicator [busy]="isProcessing" 
  backgroundColor="white" borderRadius="50"
  color="green" width="50" height="50">
</ActivityIndicator>
