@import '../_app-variables';

.result-count {
  padding: 10dpi 5dpi;
  text-align: left;
  background-color: $gray-200;
  border-radius: 3dpi;
}

.list {
  padding-top: 50dpi;
  box-shadow: 10;
  
  .product-base {
    border-bottom-width: 1px;
    border-bottom-color: $gray-10;
    padding: 10dpi;
    height: auto;
    background-color: $background-light;

    .imgcontainer {
      text-align: center;

      .more {
        white-space: normal;
        word-wrap: break-word;
        text-align: center;
      }
    }

    .product-name {
      font-size: 15em;
      color: $secondary;
      white-space: normal;
      word-wrap: break-word;
    }

    .product-price {
      white-space: normal;
      word-wrap: break-word;
      margin-top: 0.4em;
      text-align: left;
      font-size: 20em;
      color: $action-price-color;
    }

    .off {
      background-color: $success-dark;
      padding: 2dpi;
      border-radius: 5dpi;
      width: 300px;
      text-align: center;
      font-size: 10em;
    }

    .free-ship {
      display: block;
      padding: 5dpi 0;
      border-bottom-width: 1px;
      border-bottom-color: $gray-10;
      border-top-width: 1px;
      border-top-color: $gray-10;
      font-size: 10em;

      .free {
        font-weight: bold;
        margin-right: 2dpi;
      }
    }
  }
}
