<ab-component></ab-component>
<RadListView [items]="products.products" (itemTap)="onItemTap($event)" class="list-group">
    <ng-template let-product="item" let-i="index" let-odd="odd" let-even="even">
        <GridLayout class="list-group-item" rows="*, *, *" columns="*, *" [nsRouterLink]="['/product', product.id]">
            <Label [text]="product.name"></Label>
            <Label col="1" horizontalAlignment="right" class="list-group-item-text m-r-5">
                <FormattedString>
                    <Span text="&#8377;"></Span>
                    <Span [text]="product.price"></Span>
                </FormattedString>
            </Label>
            <StackLayout row="1" class="hr-light m-t-5 m-b-5" colSpan="2"></StackLayout>
            <Image row="2" [src]="product.master.images[0].product_url" stretch="aspectFill" height="120" class="m-r-20"></Image>
        </GridLayout>
    </ng-template>
</RadListView>
