<StackLayout borderRadius="5">
    <StackLayout backgroundColor="teal">
        <StackLayout class="m-10">
            <Label text="Select State" fontSize="18" color="white"></Label>
        </StackLayout>
    </StackLayout>
    <ListView [items]="states" class="list-group">
        <ng-template let-state="item" let-i="index" let-odd="odd" let-even="even">
            <StackLayout orientation="horizontal" class="list-group-item" (tap)="selectedState(state)">
                <Label [text]="state.name" textSize="12"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
</StackLayout>
