@import '../_app-variables.scss';
.layoutBackgroundImageURL {
    background-image: url("https://cdn.shopify.com/s/files/1/1636/8341/t/9/assets/logo.png?7537922900183348109");
    background-repeat: no-repeat;
    height: 120;
    margin: 15;
}

.img-logo {
    width: 130px
}

.abc {
    width: 50%;
    float: left;
}

.container {
    padding:0 10dpi;
}

.box {
    font-weight: bold;
    font-size: 15em;
    background-color: #fff;
    margin: 3dpi;
    padding: 5dpi;
    box-shadow:2px 2px 2px 2px green;
    height:150vh;
    background-repeat: no-repeat;
    background-size: 340px 340px;
    background-position: right bottom;
}