@import '../_app-variables.scss';
.img-logo {
  width: 130px
}

.container {
  padding: 0 10dpi;
  background-color: $white - 10;
  .typeofproduct {
    color: orange;
    margin-top: 2dpi;
    font-size: 28em;
  }
  .savetoday {
    padding: 7dpi 20dpi;
    .discount {
      background-color: $action-color;
      padding: 5dpi 15dpi 5dpi;
      text-align: center;
      border-radius: 5dpi;
      font-size: 18em;
      color: $background-light;
      font-weight: bold;
      margin: 6dpi 10dpi 10dpi 0;
    }
    .autoship {
      margin-top: 5dpi;
      font-weight: bold;
      color: $secondary;
      white-space: normal;
      word-wrap: break-word;
    }
  }
  .shopby {
    padding: 7dpi 10dpi;
    font-size: 18em;
    color: $secondary;
    .icon {
      margin-top: 2dpi;
      font-size: 28em;
      color: $accent-dark;
    }
  }
  .box {
    font-weight: bold;
    font-size: 15em;
    background-color: $background-light;
    margin: 3dpi;
    padding: 5dpi;
    height: 150vh;
    background-repeat: no-repeat;
    background-size: 340px 340px;
    background-position: right bottom;
    border-radius: 5dpi;
  }
}

.promoimg {
  padding: 20dpi 4dpi;
}

.product-base {
  width: 450px;
  border-radius: 5dpi;
  border-color: $gray-10;
  background-color: $white;
  margin: 3dpi;
  height: auto;
  .product-img {
    text-align: center
  }
  .product-name {
    font-size: 15em;
    color: $secondary;
    .name {
      white-space: normal;
      word-wrap: break-word;
      height: 160px;
      margin: 15 0;
    }
  }
  .product-price {
    font-size: 20dpi;
    color: $action-price-color
  }
  .add-to {
    border-color: $gray-10;
    padding: 10;
    text-align: center;
    color: $action-color;
  }
}

.login-label {
  horizontal-align: center;
  vertical-align: center;
  color: $accent-dark;
  font-size: 16;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
}

.actionBar .action-bar {
  border-color: transparent !important;
  border-width: 1 !important;
}

.searchbox {
  border-color: $accent-dark;
  border-radius: 10;
  border-width: 1 1 1 1;
  background-color: white;
}

.searchbox-back {
  background-color: $accent-dark;
  border-color: $accent-dark;
  border-width: 5 5 5 5;
}
