@import '../../../app-variables';

.product-name {
  font-size: 15em;
  color: $secondary;
  white-space: normal;
  word-wrap: break-word;
  padding-bottom: 10;
}

.price {
  font-size: 16em;
  color: $action-price-color;
  text-emphasis: none;
  white-space: normal;
}

.line-through {
  font-size: 16em;
  color: gray;
  text-decoration: line-through;
  text-emphasis: none;
  white-space: normal;
}

.price-save {
  font-size: 16em;
  color: green;
  text-emphasis: none;
  white-space: normal;
}

.btn-primary {
  border-radius: 10px;
  margin: 10px;
  border-color: $accent-dark;
  color: $white;
  width: 90%;
  height: 50%;
}

.btn-outofstock {
  background-color: gray;
  border-radius: 10px;
  margin: 10px;
  color: $white;
  width: 90%;
  height: 50%;
}

.discription {
  padding: 10;
  white-space: normal;
  word-wrap: break-word;
}
