<ab-component [showName]="'Product Details'" [showBackArrow]="true"></ab-component>
<GridLayout>
  <StackLayout *ngIf="product" backgroundColor="whitesmoke">
    <GridLayout sdkExampleTitle sdkToggleNavButton>
      <TabView selectedIndex="0">
        <StackLayout *tabItem="{title: 'Details'}" backgroundColor="white">
          <ScrollView>
            <StackLayout>
              <!-- product image -->
              <StackLayout borderBottomWidth="1" borderColor="whitesmoke">
                <Image [src]="productImageUrl" height="200" class="m-b-10"></Image>
              </StackLayout>
              <!-- product name -->
              <StackLayout class="p-10">
                <Label class="product-name" fontSize="15px;" fontWeight="bold" horizontalAlignment="left" [text]="product.name"></Label>
              </StackLayout>
              <!-- MRP -->
              <StackLayout class="p-l-10 p-r-10 p-t-5 p-b-5" orientation="horizontal">
                <StackLayout width="50%" class="left" horizontalAlignment="left">
                  <Label class="h3" horizontalAlignment="left" text="M.R.P"></Label>
                </StackLayout>
                <StackLayout width="50%" class="right" horizontalAlignment="right">
                  <Label class="price" [ngClass]="productDiscount > 0 ? 'line-through' : ''" horizontalAlignment="right"
                    text="{{product.currency_symbol}}{{productMRP | number:'1.2-2'}}"></Label>
                </StackLayout>
              </StackLayout>
              <!-- Price -->
              <StackLayout class="p-l-10 p-r-10 p-t-5 p-b-5" orientation="horizontal">
                <StackLayout width="50%" class="left" horizontalAlignment="left">
                  <Label class="h3" horizontalAlignment="left" text="Price"></Label>
                </StackLayout>
                <StackLayout width="50%" class="right" horizontalAlignment="right">
                  <Label class="price" horizontalAlignment="right" text={{productPrice}}></Label>
                </StackLayout>
              </StackLayout>
              <!-- discount -->
              <StackLayout class="p-l-10 p-r-10 p-t-5 p-b-5" orientation="horizontal"  borderBottomWidth="1" borderColor="whitesmoke" *ngIf="productDiscount > 0">
                <StackLayout width="50%" class="left" horizontalAlignment="left">
                  <Label class="h3" horizontalAlignment="left" text="You Save"></Label>
                </StackLayout>
                <StackLayout width="50%" class="right" horizontalAlignment="right">
                  <Label class="price-save" horizontalAlignment="right" text="{{product.currency_symbol}}{{productDiscount}}({{discountPercent}})"></Label>
                </StackLayout>
              </StackLayout>
              <!-- variants -->
              <StackLayout horizontalAlignment="left" paddingTop="10">
                <product-variants [customOptionTypesHash]="customOptionTypesHash" [currentSelectedOptions]="currentSelectedOptions"
                  (onOptionClickEvent)="onOptionClick($event)" [correspondingOptions]="correspondingOptions"
                  [mainOptions]="mainOptions"></product-variants>
              </StackLayout>
              <!-- add to cart -->
              <StackLayout paddingTop="10" paddingBottom="10">
                <Button *ngIf="isProductOderable === true" class="btn btn-primary btn-active" (tap)="addToCart(variantId)" text="Add To Cart"></Button>
                <Button [disabled]="true" *ngIf="isProductOderable === false" class="btn btn-outofstock" text="Out Of Stock!"></Button>
              </StackLayout>
              <!-- discription -->
              <!-- Todo: needed fixes for IOS -->
              <StackLayout class="p-l-10 p-r-10 p-t-5 p-b-5" *ngIf="discription && !isIos">
                <Label class="h3" horizontalAlignment="left" text="Description" paddingBottom="10"></Label>
                <HtmlView id="htmlview" html={{discription}} class="m-t-40"></HtmlView>
              </StackLayout>
              <!-- similiar product -->
              <StackLayout productList [listHeading]="' Similar Products'" [products]="similarProducts$ | async"
                paddingBottom="10" paddingTop="10"></StackLayout>
            </StackLayout>
          </ScrollView>
        </StackLayout>
      </TabView>
    </GridLayout>
  </StackLayout>
  <ActivityIndicator [busy]="!product" backgroundColor="white" borderRadius="50" color="green" width="50" height="50"></ActivityIndicator>
  <ActivityIndicator [busy]="addToCartLoader" backgroundColor="white" borderRadius="50" color="green" width="50" height="50"></ActivityIndicator>
</GridLayout>
