@import '../../app-variables';

.button-container {
  text-align: center;
  background-color: $white;
  padding: 2px 10px;
  width: 100%;
  border-width: 1 0 0 1;
  border-color: $accent-dark;  
  .btn-primary {
    border-radius: 5;
    font-size: 16;
    font-weight: 400;
    width: 90%;
  }
}

.total {
  padding: 10;
  background-color:$white;
  text-align: center;
  font-weight: 500;
  font-size: 16;
  border-width: 0 0 1 0;
  border-color: $accent-dark;  
}

.page {
  align-items: center;
  flex-direction: column;
}

.form {
  margin-left: 30;
  margin-right: 30;
  flex-grow: 2;
  vertical-align: middle;
}

.logo {
  margin-bottom: 12;
  height: 90;
  font-weight: bold;
  margin-top: 50;
}
