<ab-component [showName]="'Shopping Cart'" [showBackArrow]=true></ab-component>
<GridLayout>
  <GridLayout rows="70, * ,45" class="page-container"  *ngIf="itemTotal > 0">
    <StackLayout row="0" class="total" *ngIf="totalCartItems > 0" shadow="5">
      <Label text="Cart Subtotal: {{currency}}{{itemTotal | number:'1.2-2'}}"> </Label>
      <StackLayout *ngIf="itemTotal < freeShippingAmount" backgroundColor="white">
        <Label class="delivery-text" text="Only {{currency}}{{differance | number:'1.2-2'}} more for FREE SHIPPING!"></Label>
      </StackLayout>
      <StackLayout backgroundColor="white" *ngIf="itemTotal >= freeShippingAmount" paddinBottom="5">
        <Label class="freeshipping" text="Your order qualifies for FREE SHIPPING!"></Label>
      </StackLayout>
    </StackLayout>

    <StackLayout row="1">
      <StackLayout>
        <line-item-list [itemTotal]="totalCartValue" [lineItems]="lineItems"></line-item-list>
      </StackLayout>
    </StackLayout>

    <StackLayout row="2">
        <Button text="Proceed To Checkout" class="action-btn" (tap)="checkoutToAddress()"></Button>
    </StackLayout>
  </GridLayout>

  <FlexboxLayout class="page" *ngIf="totalCartItems === 0">
    <StackLayout class="form">
      <Label class="h2" fontSize="18" horizontalAlignment="center" fontWeight="bold" text="Your cart is empty"></Label>
      <Image class="logo" src="~/assets/empty-cart.png"></Image>
      <Button text="Continue Shopping" class="action-btn" borderRadius="5" (tap)="goToHome()"></Button>
    </StackLayout>
  </FlexboxLayout>
</GridLayout>
