<ab-component></ab-component>
<GridLayout rows="*,60">
  <StackLayout row="0">
    <StackLayout class="total">
      <Label class="m-r-10 discount" text="Cart Subtotal   {{currency}} {{itemTotal$ | async}}"> </Label>
    </StackLayout>
    <ScrollView sdkExampleTitle sdkToggleNavButton>
      <FlexboxLayout flexDirection="column" backgroundColor="lightgray" class="container">
        <StackLayout>
          <line-item-list [itemTotal]="itemTotal$ | async"></line-item-list>
        </StackLayout>
        <StackLayout class="p-t-0"> </StackLayout>
      </FlexboxLayout>
    </ScrollView>
  </StackLayout>
  <StackLayout row="1" class='button-container'>
    <Button class="btn btn-primary btn-active" id="button" text="Proceed To checkout" (tap)="gotoodersuccess()">
    </Button>
  </StackLayout>
</GridLayout>
