<ab-component [showName]="'Shopping Cart'" [showBackArrow]=true></ab-component>
<GridLayout>
<GridLayout rows="50, * ,60" class="page-container">
  <CardView class="cardStyle" margin="0 0 5 0" elevation="10">
    <StackLayout row="0" class="total" *ngIf="totalCartItems > 0">
      <Label text="Cart Subtotal: {{currency}} {{itemTotal | number:'1.2-2'}}"> </Label>
    </StackLayout>
  </CardView>

  <StackLayout row="1" flexDirection="column">
    <StackLayout>
      <line-item-list [itemTotal]="totalCartValue" [lineItems]="lineItems"></line-item-list>
    </StackLayout>
  </StackLayout>
  <StackLayout row="2" class="button-container" paddingTop="5" *ngIf="itemTotal > 0">
    <Button class="action-btn" text="Proceed To Checkout" (tap)="checkoutToAddress()"></Button>
  </StackLayout>
</GridLayout>

<FlexboxLayout class="page" *ngIf="totalCartItems === 0">
  <StackLayout class="form">
    <Label class="h2" fontSize="18" horizontalAlignment="center" fontWeight="bold" text="Your cart is empty"></Label>
    <Image class="logo" src="~/assets/empty-cart.png"></Image>
    <Button text="Continue Shopping" class="action-btn" (tap)="goToHome()"></Button>
  </StackLayout>
</FlexboxLayout>
</GridLayout>
