<page-router-outlet></page-router-outlet>
<RadSideDrawer [drawerTransition]="sideDrawerTransition">
  <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
    <StackLayout row="0" class="sidedrawer-header">
      <Label class="sidedrawer-header-image fa" text="&#xf2bd;"></Label>
      <Label *ngIf="!isAuthenticated; else noUser" class="sidedrawer-header-brand" 
      text="Sign in | Create Account" (tap)="onNavItemTap('/auth')">
      </Label>
      <ng-template #noUser>
        <Label class="sidedrawer-header-brand" text="Hello!"></Label>
        <Label class="footnote" text="{{user.email}}"></Label>
      </ng-template>
    </StackLayout>
    <ScrollView row="1">
      <StackLayout class="sidedrawer-content">
        <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/home')"
          (tap)="onNavItemTap('/')">
          <Label col="0" text="&#xf015;" class="fa"></Label>
          <Label col="1" text="Home" class="p-r-10"></Label>
        </GridLayout>
        <StackLayout class="hr-light"></StackLayout>      
        <GridLayout columns="auto, *" class="sidedrawer-list-item"(tap)="logout()" *ngIf="isAuthenticated">
          <Label col="0" text="&#xf08b;" class="fa"></Label>
          <Label col="1" text="Logout" class="p-r-10"></Label>
        </GridLayout>
      </StackLayout>
    </ScrollView>
  </GridLayout>
  <page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
</RadSideDrawer>
