<ActionBar title="{{showName}}">
  <StackLayout orientation="horizontal" *ngIf="!showName" ios:horizontalAlignment="center" android:horizontalAlignment="center">
    <Image src="{{logoUrl}}" class="img-logo"></Image>
  </StackLayout>

  <!-- android -->
  <NavigationButton *ngIf="!showBackArrow" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
  <NavigationButton *ngIf="showBackArrow &&  isAndroid" android.systemIcon="ic_menu_back" (tap)="navigateBack()"></NavigationButton>
  <!-- ios -->
  <NavigationButton visibility="hidden" *ngIf="!showBackArrow && isIos"></NavigationButton>
  <ActionItem ios.position="left" (tap)="onDrawerButtonTap()" *ngIf="!showBackArrow && isIos">
    <Label class="fa" text="&#xf0c9;"></Label>
  </ActionItem>
  <!-- cart ios and andoid-->
  <ActionItem ios.position="right" (tap)="navigateToCart()">
    <AbsoluteLayout>
    <Label class="fa cart" text="&#xf07a;"></Label>
    <Label class="cart-items" [text]="totalCartItems" left="20%" top="5%" height="35%" width="6%"></Label>
    </AbsoluteLayout>
  </ActionItem>
</ActionBar>
