@import '../../../app-variables';

// ActionBar {
//   background-color: $accent-dark;
//   color: white;
// }

ActionBar {
  border-width: 1;
  border-color: transparent;
  background-color: $accent-dark;
  color: white;
}
