@import '../../../app-variables';
.img-logo {
  width: 250px
}

.cart {
  font-size: 25em;
}

.cart-items {
  padding: 10px;
  border-radius: 100px;
  font-size: 10em;
  background-color: #ae4700;
  color: #fff;
}
