.box {
  font-weight: bold;
  font-size: 12em;
  margin: 5 0 0 5;
  position: left top;
  border-radius: 5;
  color: white;
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: right bottom;
  padding-left: 5%;
  padding-bottom: 100%;
  padding-top: 5%;
}
