<GridLayout rows="auto, auto" backgroundColor="white">
  <FlexboxLayout padding="5" row="0">
    <Label class="fa" text="&#xf009;" color="orange" fontSize="20"></Label>
    <Label fontSize="16" text=" Shop By Category"></Label>
  </FlexboxLayout>
  <!-- ToDo: Height should be responsive -->
  <RadListView row="1" height="480" [items]="taxonomies[0]?.root.taxons">
    <ListViewGridLayout tkListViewLayout itemHeight=150%  spanCount="2"></ListViewGridLayout>
    <ng-template let-category="item" let-i="index" let-odd="odd">
      <StackLayout orientation="Vertical">
        <Label class="box" (tap)="onSelectedCategory(category.id)"
          [backgroundColor]="categories[category.name].color" 
          [backgroundImage]="categories[category.name].imageUrl"
          [text]="category.name"></Label>
      </StackLayout>
    </ng-template>
  </RadListView>
</GridLayout>
<!-- <GridLayout rows="40, *" backgroundColor="white" *ngIf="taxonomies[0]?.root.taxons">
  <FlexboxLayout padding="5">
    <Label class="fa" text="&#xf009;" color="orange" fontSize="20"></Label>
    <Label fontSize="16" text=" Shop By Category"></Label>
  </FlexboxLayout>
  <ScrollView row="1" orientation="horizontal" scrollBarIndicatorVisible="false">
    <StackLayout orientation="horizontal" rowSpan="2">
      <StackLayout *ngFor="let category of taxonomies[0]?.root.taxons" padding="3">
        <GridLayout rows="*"  height="150" width="150" borderRadius="5" backgroundColor="white" paddingBottom="10">
          <Label row="0" class="box" (tap)="onSelectedCategory(category.id)"
            [backgroundColor]="categories[category.name].color" 
            [backgroundImage]="categories[category.name].imageUrl" 
            [text]="category.name"></Label>
        </GridLayout>
      </StackLayout>
    </StackLayout>
  </ScrollView>
</GridLayout> -->
