.box {
  font-weight: bold;
  font-size: 14em;
  margin: 3dpi;
  position: left top;
  border-radius: 5;
  color: white;
  background-repeat: no-repeat;
  background-size: 80% 90%;
  
  background-position: right bottom;
  padding-left: 5%;
  padding-bottom: 130%;
  padding-top: 5%;
}
