@import '../_app-variables.scss';
.img-logo {
    width: 330px
}

.cart {
    font-size: 25em;
}

.num {
    padding: 10px;
    border-radius: 40px;
    font-size: 10em;
    background-color: #ae4700;
    color: #fff;
}
.sinput{background-color: red;}