<StackLayout class="p-10">
  <Label class="payhead label" fontSize="14" fontWeight="bold" text="Cash/Card On Delivery"></Label>
  <Label class="paytext label" fontSize="13" text="Pay with Cash or Card when your order is delivered"></Label>
</StackLayout>
<StackLayout row="1" class="hr-light m-t-5 m-b-5"></StackLayout>
<StackLayout class="p-10">
  <Label class="payhead label m-t-20" fontSize="14" fontWeight="bold" text="NOTE: All authorised notes are accepted. Credit/Debit cards are also accepted."></Label>
</StackLayout>
<StackLayout>
  <Button text="Pay on Delivery" class="btn btn-primary m-t-20" (tap)="onPay()"></Button>
</StackLayout>
