<GridLayout>
  <StackLayout>
    <StackLayout borderBottomWidth="1" borderColor="whitesmoke">
      <Label class="payhead" text="Cash On Delivery(COD)"></Label>
    </StackLayout>
    <Label class="paytext" text="Pay with Cash or Card when your order is delivered."></Label>
    <Label class="paytext" fontWeight="bold" text="Note: All authorised notes are accepted. Credit/Debit cards are also accepted."></Label>
    <StackLayout marginTop="20">
      <Button text="Pay on Delivery" class="action-btn m-r-15 m-l-15" borderRadius="5" (tap)="onPay()"></Button>
    </StackLayout>
  </StackLayout>
</GridLayout>
