<GridLayout>
  <StackLayout>
    <StackLayout borderBottomWidth="1" borderColor="whitesmoke">
      <Label class="payhead" text="Cash On Delivery(COD)"></Label>
    </StackLayout>
    <Label class="paytext" text="Pay with Cash or Card when your order is delivered."></Label>
    <Label class="paytext" fontWeight="bold" text="Note: All authorised notes are accepted. Credit/Debit cards are also accepted."></Label>
    <StackLayout paddingTop="10">
      <Button text="Pay on Delivery" class="btn btn-primary btn-active" (tap)="onPay()"></Button>
    </StackLayout>
  </StackLayout>
</GridLayout>
