@import '../../../app-variables';
.option-buttons {
  background-color: $action-color;
  padding: 2 10;
  width: 100;
  height: 50;
  .label {
    background-color: transparent;
  }
  .value {
    background-color: transparent
  }
}

.selected {
  background-color: $black;
  .label {
    background-color: transparent;
    color: $white
  }
  .value {
    background-color: transparent;
    color: $white
  }
}
