@import '../../../app-variables';

.option-buttons {
  background-color: $action-color;
  .label {
    background-color: transparent;
    color: $white
  }
  .value {
    background-color: transparent;
    color: $white
  }
}

.selected {
  background-color: $black;
  .label {
    background-color: transparent;
    color: $white
  }
  .value {
    background-color: transparent;
    color: $white
  }
}

.btn {
  border-radius: 5;
  font-size: 16;
  font-weight: 400;
  width: 90%;
}
