<StackLayout class="variant" *ngIf="(customOptionTypesHash | keys);let custopt" [ngClass]="[custopt?.length === 0  ? 'notvariant' : '']">
  <StackLayout *ngFor="let variant of (customOptionTypesHash | keys)" class="p-x-10">
    <StackLayout class="size-buttons-size-header d-none d-sm-block">
      <Label [text]="variant.key"></Label>
    </StackLayout>
    <StackLayout orientation="horizontal">
      <Button width="100" class="option-buttons" *ngFor="let options of (variant.value | keys)" (tap)="onOptionClick(options)"
        [class.selected]="options.key === currentSelectedOptions[variant.key]" [ngClass]="{'disabled': isDisabled(correspondingOptions[variant.key], options.value['optionValue'].name)}">
        <FormattedString>
          <Label class="label" [text]="options.value['optionValue'].presentation"></Label>
          <Span class="value" text="{{options.value['optionValue'].presentation }}"></Span>
          <Span class="strike"></Span>
        </FormattedString>
      </Button>
    </StackLayout>
  </StackLayout>
</StackLayout>
