@import '../../../../app-variables';
.btn-primary {
  border-radius: 5;
  font-size: 16;
  font-weight: 600;
}

.payhead {
  color: $gray-900;
  white-space: normal;
  text-transform: uppercase;
  font-size: 14rem;
  margin-top: 15;
  padding-bottom: 10;
  padding-left: 15;
  font-weight: 600;
}

.paytext {
  color: $gray-900;
  font-size: 13rem;
  padding-left: 15;
  margin-top: 15;
  border-bottom: 1;
  padding-right: 15;
  border-color: whitesmoke;
  white-space: normal;
  word-wrap: break-word;
}
