<GridLayout>
  <StackLayout>
    <StackLayout borderBottomWidth="1" borderColor="whitesmoke">
      <Label class="payhead" text="Card Payment Using PayUbiz"></Label>
    </StackLayout>
    <Label class="paytext" text="We will Not save your card details."></Label>
    <Label class="paytext" fontWeight="bold" text="NOTE: After clicking pay button you will be redirected to payUbiz"></Label>
    <StackLayout paddingTop="10">
      <Button text="Pay Now" class="btn btn-primary btn-active"></Button>
    </StackLayout>
  </StackLayout>
</GridLayout>
