<ab-component></ab-component>
<ScrollView sdkExampleTitle sdkToggleNavButton>
  <FlexboxLayout flexDirection="column" backgroundColor="lightgray" class="container">
    <StackLayout class='thankyou'>
      <Label class="thank-text" text="Thank You !"> </Label>
      <Label class="h3 p-15 m-15 text-left">
          <FormattedString>
              <Span class="fa cart" text="&#xf058;" ></Span>               
              <Span text="Your order has been placed and is being processed. When the item(s) are shipped, you will receive an email with the details."></Span>
          </FormattedString>
      </Label>
    </StackLayout>
    <StackLayout>
      <Label class="thank-text" text="Order Details"> </Label>
    </StackLayout>
    <StackLayout class="p-l-10 p-r-10 p-t-5 p-b-5" orientation="horizontal">
      <StackLayout width="50%" class="left" horizontalAlignment="left">
        <Label class="h3" horizontalAlignment="left" text="Order ID:"></Label>
      </StackLayout>
      <StackLayout width="50%" class="right" horizontalAlignment="right">
        <Label class="price" horizontalAlignment="right" text="abc"></Label>
      </StackLayout>
    </StackLayout>
    <StackLayout class="p-l-10 p-r-10 p-t-5 p-b-5" orientation="horizontal">
      <StackLayout width="50%" class="left" horizontalAlignment="left">
        <Label class="h3" horizontalAlignment="left" text="Order ID:"></Label>
      </StackLayout>
      <StackLayout width="50%" class="right" horizontalAlignment="right">
        <Label class="price" horizontalAlignment="right" text="abc"></Label>
      </StackLayout>
    </StackLayout>
    <StackLayout class="p-l-10 p-r-10 p-t-5 p-b-5" orientation="horizontal">
      <StackLayout width="50%" class="left" horizontalAlignment="left">
        <Label class="h3" horizontalAlignment="left" text="Order ID:"></Label>
      </StackLayout>
      <StackLayout width="50%" class="right" horizontalAlignment="right">
        <Label class="price" horizontalAlignment="right" text="abc"></Label>
      </StackLayout>
    </StackLayout>
    <StackLayout class="p-l-10 p-r-10 p-t-5 p-b-5" orientation="horizontal">
      <StackLayout width="30%" class="left" horizontalAlignment="left">
        <Label class="h3" horizontalAlignment="left" text="Order ID:"></Label>
      </StackLayout>
      <StackLayout width="70%" class="right" horizontalAlignment="left">
        <Label class="price" horizontalAlignment="right" text="abc"></Label>
      </StackLayout>
    </StackLayout>
  </FlexboxLayout>
</ScrollView>


