@import '../../app-variables';
.address-content {
  background-color: white;
  padding-top: 10;
  padding-bottom: 10;
  .address-field {
    font-size: 14em;
  }
  .address-bold {
    font-size: 14em;
    padding: 5 5 5 15;
    font-weight: 600;
  }
  .heading {
    font-size: 14em;
    padding-left: 10;
    padding-bottom: 10;
    border-bottom-width: 1;
    border-bottom-color: whitesmoke;
    text-transform: uppercase;
  }
  .order-details {
    padding-left: 10;
    padding-right: 10;
    padding-top: 5;
    padding-bottom: 5;
  }
}

.right {
  font-size: 14rem;
  text-align: left;
  white-space: normal;
  word-wrap: break-word;
}

.left {
  font-size: 14rem;
  text-align: left;
}

.messsge {
  font-size: 12em;
  text-align: right;
  white-space: normal;
  word-wrap: break-word;
  color: red;
}
.line-item{
  font-size: 14rem;
  text-align: left;
  white-space: normal;
  word-wrap: break-word;
  padding-top: 5;
}
.success-msg {
  font-size: 18rem;
  color: green;
  text-align: center;
}

.edit-address {
  border-radius: 5;
  background-color: orange;
  width: 60%;
}



