<ab-component></ab-component>
<GridLayout class="page-container">
  <ScrollView *ngIf="orderDetails">
    <FlexboxLayout flexDirection="column">
      <StackLayout>
        <StackLayout class="address-content m-r-5 m-l-5 m-t-20 m-b-20" shadow="5" borderRadius="5">
          <StackLayout class="order-details">
            <Label class="success-msg fa" text="&#xf058; Thank you for your order"></Label>
            <StackLayout height="60" paddingTop="10">
              <Button class="action-btn-small" fontWeight="500" (tap)="backToHome()" text="Continue Shopping"></Button>
            </StackLayout>
          </StackLayout>
        </StackLayout>
      </StackLayout>

      <!-- order details -->
      <StackLayout>
        <StackLayout class="m-r-5 m-l-5 m-b-20" shadow="5" borderRadius="5">
          <StackLayout class="address-content" borderRadius="5">
            <Label class="heading" text="order details"></Label>
            <StackLayout orientation="horizontal" class="order-details">
              <Label class="left" text="Order Number" width="40%"> </Label>
              <Label class="right" text="{{orderDetails?.number}}({{orderDetails?.total_quantity}} Item)" width="60%"></Label>
            </StackLayout>
            <StackLayout orientation="horizontal" class="order-details">
              <Label class="left" text="Order date" width="40%"> </Label>
              <Label class="right" text="{{orderDetails.created_at | date: 'dd-MMM-yy, hh:mm a'}}" width="60%"></Label>
            </StackLayout>
            <StackLayout orientation="horizontal" class="order-details">
              <Label class="left" text="Payment mode" width="40%"> </Label>
              <Label class="right" text="{{orderDetails.payments[0].payment_method.name}}" width="60%"></Label>
            </StackLayout>
            <StackLayout orientation="horizontal" class="order-details" borderTopWidth="1" borderColor="whitesmoke">
              <Label class="left" fontWeight="bold" text="Total" width="40%"> </Label>
              <Label class="right" fontWeight="bold" text="{{orderDetails.display_total}}" width="60%"></Label>
            </StackLayout>
          </StackLayout>
        </StackLayout>
      </StackLayout>

      <!-- Delivery details -->
      <StackLayout>
        <StackLayout class="m-r-5 m-l-5 m-b-20" shadow="5" borderRadius="5">
          <StackLayout class="address-content" borderRadius="5" *ngIf="orderDetails.ship_address; let address">
            <Label class="heading" text="Delivery details"></Label>
            <Label class="address-bold" text="{{address.firstname}} {{address.lastname}},"></Label>
            <Label class="address-field" text="{{(address.address1).trim()}}, {{(address.address2).trim()}},"></Label>
            <Label class="address-field" text="{{address.city}}-{{address.zipcode}}, {{(address.state?.name).trim()}}"></Label>
            <Label class="address-bold" text="{{address.phone}}"></Label>
          </StackLayout>
        </StackLayout>
      </StackLayout>

      <!-- Line Items -->
      <StackLayout>
        <StackLayout class="m-r-5 m-l-5 m-b-20" shadow="5" borderRadius="5">
          <StackLayout class="address-content" borderRadius="5">
            <Label class="heading" text="Items"></Label>
            <StackLayout *ngFor="let item of orderDetails.line_items" borderTopWidth="1" borderColor="whitesmoke">
              <StackLayout orientation="horizontal">
                <StackLayout width="40%" class="left">
                  <Image [src]="getProductImageUrl(item)" stretch="aspectFit" height="100" class="m-r-20 m-t-10 m-b-10"></Image>
                </StackLayout>
                <StackLayout width="60%" class="right" paddingTop="10">
                  <Label class="line-item" text="{{item.variant.name}}"></Label>
                  <Label class="line-item" color="red" text="{{item.display_amount}}"></Label>
                  <Label class="line-item" text="Qty: {{item.quantity}}"></Label>
                  <Label class="line-item" text="{{item.variant.options_text}}"></Label>
                </StackLayout>
              </StackLayout>
            </StackLayout>
          </StackLayout>
        </StackLayout>
      </StackLayout>
    </FlexboxLayout>
  </ScrollView>
  <ActivityIndicator [busy]="isProcessing" backgroundColor="white" borderRadius="50" color="green" width="50" height="50"></ActivityIndicator>
</GridLayout>
