@import '../../../app-variables';

.button-container {
  text-align: center;
  background-color: $white;
  padding: 2px 10px;
  width: 100%;
}

.address-content {
  background-color: white;
  padding-top: 10;
  border-radius: 5;
  .address-field {
    font-size: 14em;
    padding-left: 15;
  }
  .address-bold {
    font-size: 14em;
    padding: 5 5 5 15;
    font-weight: 600;
  }
  .heading {
    font-size: 14em;
    padding-left: 15;
    padding-bottom: 10;
    border-bottom-width: 1;
    border-bottom-color: whitesmoke;
    text-transform: uppercase;
  }
  .order-details {
    padding-left: 15;
    padding-right: 15;
    padding-top: 10;
    padding-bottom: 10;
  }
}

.right {
  font-size: 14em;
  text-align: right;
}

.left {
  font-size: 14em;
  text-align: left;
}

.messsge {
  font-size: 12em;
  text-align: right;
  white-space: normal;
  word-wrap: break-word;
  color: red;
}
