<GridLayout rows="*,45" class="page-container" *ngIf="itemTotal">
  <ScrollView row="0">
    <GridLayout rows="*,*">
      <StackLayout row="0" class="m-t-20 m-l-5 m-r-5" shadow="5" borderRadius="5">
        <StackLayout class="address-content">
          <Label class="heading" text="Delivery Address"></Label>
          <Label class="address-bold" text="{{address.firstname}} {{address.lastname}}"></Label>
          <Label class="address-field" text="{{address.address1}}, {{address.address2}}"></Label>
          <Label class="address-field" text="{{address.city}}-{{address.zipcode}}"></Label>
          <Label class="address-field" text="{{address.state?.name}}"></Label>
          <Label class="address-bold" text="{{address.phone}}"></Label>
          <StackLayout class="m-b-15">
            <Button fontWeight="500" class="action-btn-small" (tap)="editAddress()" text="Change Address"></Button>
          </StackLayout>
        </StackLayout>
      </StackLayout>
      <StackLayout row="1">
        <FlexBoxLayout class="m-t-20 m-l-5 m-r-5 m-b-20" shadow="5" borderRadius="5" flexDirection="column">
          <StackLayout class="address-content">
            <Label class="heading" text="order summery"></Label>
            <StackLayout orientation="horizontal" class="order-details">
              <Label class="left" text="Price({{totalCartItems}} item)" width="50%"> </Label>
              <Label class="right" text="{{currency}}{{itemTotal | number:'1.2-2'}}" width="50%"></Label>
            </StackLayout>

            <StackLayout orientation="horizontal" *ngIf="shipTotal > 0" class="order-details">
              <Label class="left" text="Delivery" width="50%"> </Label>
              <Label class="right" text="{{currency}}{{shipTotal | number:'1.2-2'}}" width="50%"></Label>
            </StackLayout>

            <StackLayout class="order-details" orientation="horizontal" *ngIf="shipTotal === 0 && itemTotal < freeShippingAmount">
              <Label class="left" text="Delivery" width="50%"> </Label>
              <Label class="right messsge" width="50%" text="Only {{this.currency}}{{freeShippingAmount - itemTotal}} to go for free shipping."></Label>
            </StackLayout>

            <StackLayout class="order-details" orientation="horizontal" *ngIf="shipTotal === 0 && itemTotal >= freeShippingAmount">
              <Label class="left" text="Delivery" width="50%"> </Label>
              <Label class="right" color="green" text="Free" width="50%"></Label>
            </StackLayout>

            <StackLayout class="order-details" orientation="horizontal" borderTopWidth="1" borderColor="whitesmoke"
              *ngIf="shipTotal > 0 || itemTotal > freeShippingAmount">
              <Label class="left" fontWeight="500" text="Total" width="50%"> </Label>
              <Label class="right" fontWeight="500" text="{{currency}}{{totalCartValue | number:'1.2-2'}}" width="50%"></Label>
            </StackLayout>
          </StackLayout>
        </FlexBoxLayout>
      </StackLayout>
    </GridLayout>
  </ScrollView>

  <StackLayout row="1">
    <Button class="action-btn" (tap)="checkoutToPayment()" text="Continue To Payment">
    </Button>
  </StackLayout>
</GridLayout>
