@import '../../../app-variables';
.total {
  padding: 10;
  background-color:$white;
  text-align: center;
  font-weight: 500;
  font-size: 16rem;
  border-width: 0 0 1 0;
  border-color: $accent-dark;  
}

.address-content {
  background-color: white;
  padding-top: 10;
  padding-bottom: 10;
  .address-field {
    font-size: 14em;
    padding-left: 15;
  }
  .address-bold {
    font-size: 14em;
    padding: 5 5 5 15;
    font-weight: 600;
  }
  .heading {
    font-size: 14em;
    padding-left: 15;
    padding-bottom: 10;
    border-bottom-width: 1;
    border-bottom-color: whitesmoke;
    text-transform: uppercase;
  }
  .order-details {
    padding-left: 15;
    padding-right: 15;
    padding-top: 10;
    padding-bottom: 10;
  }
}

.right {
  font-size: 14em;
  text-align: right;
}

.left {
  font-size: 14em;
  text-align: left;
}

.messsge {
  font-size: 12em;
  text-align: right;
  white-space: normal;
  word-wrap: break-word;
  color: red;
}
