@import '../../../app-variables';
.page {
  align-items: center;
  flex-direction: column;
}

.payhead {
  color: $gray-900;
  text-emphasis: none;
  white-space: nowrap;
  text-transform: uppercase;
}

.paytext {
  color: $gray-900;
  text-emphasis: none;
  white-space: nowrap;
}

.btn-primary {
  border-radius: 5;
  font-size: 18;
  font-weight: 500;
}

.mini-bag-summary {
  position: relative;
  padding: 20;
  margin: 10;
  margin-top: 25px;
  background-color: $white;
}

.free {
  color: $action-price-color
}

.items {
  .address-row {
    background: $white;
    border: 1px solid $gray-10;
    box-shadow: 0 0 4px rgba(40, 44, 63, .08);
    padding: 25px;
    display: inline-block;
    margin-right: 25px;
    border-radius: 4px;
    margin: 10;
    position: relative;
    cursor: pointer;
    .name {
      font-weight: 600;
      font-size: 15px;
      color: $gray-800;
    }
    .address {
      padding-top: 10px;
      width: 90%;
      .address-content {
        .address-field {
          margin-bottom: 10;
        }
        color: $gray-800;
        line-height: 1.4;
        word-break: break-word;
        font-size: 13px;
        .mob {
          padding: 8px 0;
          .mob-no {
            font-weight: 600;
          }
        }
      }
    }
    .serviceability {
      font-size: 13px;
      padding: 10px;
      color: $black;
      margin: 10px;
    }
    .select {
      cursor: pointer;
      position: absolute;
      left: 14px;
      top: 23px;
      width: 20px;
      height: 20px;
      border: none;
      background-position: -551px 0;
      display: inline-block;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: 4250px 153px;
      vertical-align: middle; // background-image: url(/assets/checkout_sprite.png);
    }
  }
}
