<ab-component [showName]="'Make Payment'"[showBackArrow]=true></ab-component>
<GridLayout>
  <StackLayout height="600">
    <StackLayout width="100%" class="p-l-10 price p-r-10 p-t-5 p-b-5" horizontalAlignment="center" orientation="horizontal"
      backgroundColor="white">
      <Label class="" width="100%" text="You pay {{currency}} {{totalCartValue$ | async | number:'1.2-2'}} ">
      </Label>
    </StackLayout>
    <ScrollView sdkExampleTitle sdkToggleNavButton height="600">
      <FlexboxLayout height="500">
        <StackLayout orientation="vertical" backgroundColor="lightgray">
          <StackLayout class="mini-bag-summary" *ngIf="itemTotal$ | async;let itemTotal">
            <Label class="items h3 m-b-20 p-b-10" text="{{totalCartItems$ | async}} ITEMS" borderBottomWidth="1"
              borderBottomColor="#ccc"></Label>
            <StackLayout class="order-total">
              <StackLayout class="m-b-10" orientation="horizontal">
                <StackLayout width="70%" class="left" horizontalAlignment="left">
                  <Label class="h3" horizontalAlignment="left" text="Sub Total"></Label>
                </StackLayout>
                <StackLayout width="30%" class="right" horizontalAlignment="right">
                  <Label horizontalAlignment="left" fontSize="18" text="{{currency}}{{itemTotal | number:'1.2-2'}}"></Label>
                </StackLayout>
              </StackLayout>
            </StackLayout>
            <StackLayout class="shipping" *ngIf="(shipTotal$ | async);let shipTotal">
              <StackLayout orientation="horizontal" *ngIf="shipTotal ==='0.0' && itemTotal >= freeShippingAmount ">
                <StackLayout width="70%" class="left" horizontalAlignment="left">
                  <Label class="h3" horizontalAlignment="left" text="Delivery"></Label>
                </StackLayout>
                <StackLayout width="30%" class="right" horizontalAlignment="right">
                  <Label horizontalAlignment="left" fontSize="13" text="Free" class="free"></Label>
                </StackLayout>
              </StackLayout>
              <Label class="m-t-10" *ngIf="shipTotal ==='0.0' && itemTotal < freeShippingAmount " text=" Only {{currency}}
                {{(freeShippingAmount - itemTotal)| number:'1.2-2'}} to go for free shipping.">
              </Label>
            </StackLayout>
          </StackLayout>
          <StackLayout backgroundColor="White">
            <TabView id="tabViewContainer" androidSelectedTabHighlightColor="green">
              <!-- <StackLayout *tabItem="{title: 'PAYUBIZ'}">
                <ScrollView>
                  <StackLayout>
                    <payubiz-hosted></payubiz-hosted>
                  </StackLayout>
                </ScrollView>
              </StackLayout> -->
              <StackLayout *tabItem="{title: 'COD'}">
                <ScrollView>
                  <StackLayout>
                    <cash-on-delivery (payOnDelivery)="makeCodPayment()"></cash-on-delivery>
                  </StackLayout>
                </ScrollView>
              </StackLayout>
            </TabView>
          </StackLayout>
        </StackLayout>
      </FlexboxLayout>
    </ScrollView>
  </StackLayout>
</GridLayout>
