@import '../../../app-variables';
.page-element {
  background-color: $white;
  padding-right: 20;
  padding-left: 20;
}

.error-lable {
  margin-top: 10;
  color: red;
  font-size: 12rem;
}

.normal-btn {
  border-radius: 5;
  border-color: $page-background;
  border-width: 1;
  font-size: 12;
  height: 45;
}

.textfield{
  border-bottom-color: transparent;
  border-bottom-width: 1;
  font-size: 18;
}

